# AULA 18: PIVOT TABLE

In [1]:
import pandas as pd

In [2]:
base_Lanchonete_DF = pd.read_excel("Vendas_Lanchonete_Pivot_Table.xlsx")
display(base_Lanchonete_DF)

   Data Venda          Cliente      Produto  Preço Total  Preço com Desconto
0  2023-01-04     Angela Maria         Café            4                   2
1  2023-01-03   Carlos Moreira   Salgadinho            9                   7
2  2023-01-04  Gabriel Cardoso         Coca            8                   6
3  2023-01-02     Angela Maria      Bolinho           12                  10
4  2023-01-04   Carlos Moreira       Pastel           10                   8
5  2023-01-03     Angela Maria  Enroladinho            8                   6
6  2023-01-05   Carlos Moreira         Bolo           30                  28
7  2023-01-05  Gabriel Cardoso         Café            4                   2
8  2023-01-01     Paulo Santos   Salgadinho            9                   7
9  2023-01-01     Angela Maria         Coca            8                   6
10 2023-01-03   Carlos Moreira      Bolinho           12                  10
11 2023-01-04  Gabriel Cardoso       Pastel           10                   8
12 2023-01-02     Paulo Santos         Café            4                   2
13 2023-01-01     Angela Maria   Salgadinho            9                   7
14 2023-01-02   Carlos Moreira         Café            4                   2
15 2023-01-04  Gabriel Cardoso   Salgadinho            9                   7
16 2023-01-06     Paulo Santos         Coca            8                   6
17 2023-01-06     Angela Maria      Bolinho           12                  10
18 2023-01-03   Carlos Moreira         Café            4                   2
19 2023-01-02  Gabriel Cardoso   Salgadinho            9                   7
20 2023-01-01     Paulo Santos         Coca            8                   6
21 2023-01-03     Angela Maria      Bolinho           12                  10
22 2023-01-05   Carlos Moreira       Pastel           10                   8
23 2023-01-04     Angela Maria         Café            4                   2
24 2023-01-02     Angela Maria   Salgadinho            9                   7
25 2023-01-05   Carlos Moreira         Coca            8                   6
26 2023-01-01  Gabriel Cardoso      Bolinho           12                  10
27 2023-01-03     Paulo Santos       Pastel           10                   8

In [4]:
#Criação de uma tabela dinâmica com Pandas e Python


#index= Linhas
#Columns = Colunas
#Values = Soma
#Aggfunc = Tipo de calculo (sum = soma)
pivotExemplo1 = base_Lanchonete_DF.pivot_table(index="Data Venda", 
                                               columns="Cliente", values="Preço com Desconto", aggfunc="sum")
display(pivotExemplo1)

Cliente     Angela Maria  Carlos Moreira  Gabriel Cardoso  Paulo Santos
Data Venda
2023-01-01          13.0             NaN             10.0          13.0
2023-01-02          17.0             2.0              7.0           2.0
2023-01-03          16.0            19.0              NaN           8.0
2023-01-04           4.0             8.0             21.0           NaN
2023-01-05           NaN            42.0              2.0           NaN
2023-01-06          10.0             NaN              NaN           6.0

In [6]:
pivotExemplo2 = base_Lanchonete_DF.pivot_table(index="Cliente", 
                                               columns="Data Venda", values="Preço com Desconto", aggfunc="sum")
display(pivotExemplo2)

Data Venda,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06
Cliente,,,,,,
Angela Maria,13.0,17.0,16.0,4.0,NaN,10.0
Carlos Moreira,NaN,2.0,19.0,8.0,42.0,NaN
Gabriel Cardoso,10.0,7.0,NaN,21.0,2.0,NaN
Paulo Santos,13.0,2.0,8.0,NaN,NaN,6.0

In [7]:
pivotExemplo3 = base_Lanchonete_DF.pivot_table(index="Cliente", 
                                               columns="Data Venda", values=["Preço Total", "Preço com Desconto"], aggfunc="sum")
display(pivotExemplo3)

                Preço Total                                              \
Data Venda       2023-01-01 2023-01-02 2023-01-03 2023-01-04 2023-01-05
Cliente
Angela Maria           17.0       21.0       20.0        8.0        NaN
Carlos Moreira          NaN        4.0       25.0       10.0       48.0
Gabriel Cardoso        12.0        9.0        NaN       27.0        4.0
Paulo Santos           17.0        4.0       10.0        NaN        NaN

                           Preço com Desconto                        \
Data Venda      2023-01-06         2023-01-01 2023-01-02 2023-01-03
Cliente
Angela Maria          12.0               13.0       17.0       16.0
Carlos Moreira         NaN                NaN        2.0       19.0
Gabriel Cardoso        NaN               10.0        7.0        NaN
Paulo Santos           8.0               13.0        2.0        8.0


Data Venda      2023-01-04 2023-01-05 2023-01-06
Cliente
Angela Maria           4.0        NaN       10.0
Carlos Moreira         8.0       42.0        NaN
Gabriel Cardoso       21.0        2.0        NaN
Paulo Santos           NaN        NaN        6.0

In [9]:
pivotExemplo4 = base_Lanchonete_DF.pivot_table(index="Data Venda", 
                                               columns=["Cliente", "Produto"], values="Preço com Desconto", aggfunc="sum")
display(pivotExemplo4)

Cliente    Angela Maria                                  Carlos Moreira        \
Produto         Bolinho Café Coca Enroladinho Salgadinho        Bolinho  Bolo
Data Venda
2023-01-01          NaN  NaN  6.0         NaN        7.0            NaN   NaN
2023-01-02         10.0  NaN  NaN         NaN        7.0            NaN   NaN
2023-01-03         10.0  NaN  NaN         6.0        NaN           10.0   NaN
2023-01-04          NaN  4.0  NaN         NaN        NaN            NaN   NaN
2023-01-05          NaN  NaN  NaN         NaN        NaN            NaN  28.0
2023-01-06         10.0  NaN  NaN         NaN        NaN            NaN   NaN

Cliente                                Gabriel Cardoso                   \
Produto    Café Coca Pastel Salgadinho         Bolinho Café Coca Pastel
Data Venda
2023-01-01  NaN  NaN    NaN        NaN            10.0  NaN  NaN    NaN
2023-01-02  2.0  NaN    NaN        NaN             NaN  NaN  NaN    NaN
2023-01-03  2.0  NaN    NaN        7.0             NaN  NaN  NaN    NaN
2023-01-04  NaN  NaN    8.0        NaN             NaN  NaN  6.0    8.0
2023-01-05  NaN  6.0    8.0        NaN             NaN  2.0  NaN    NaN
2023-01-06  NaN  NaN    NaN        NaN             NaN  NaN  NaN    NaN

Cliente               Paulo Santos
Produto    Salgadinho         Café Coca Pastel Salgadinho
Data Venda
2023-01-01        NaN          NaN  6.0    NaN        7.0
2023-01-02        7.0          2.0  NaN    NaN        NaN
2023-01-03        NaN          NaN  NaN    8.0        NaN
2023-01-04        7.0          NaN  NaN    NaN        NaN
2023-01-05        NaN          NaN  NaN    NaN        NaN
2023-01-06        NaN          NaN  6.0    NaN        NaN

In [13]:
pivotExemplo5 = base_Lanchonete_DF.pivot_table(index="Data Venda", 
                    columns=["Cliente", "Produto"], values=["Preço Total","Preço com Desconto"], aggfunc="sum")

#Método fillna() -> me permite substituir os valores NaN(vazios) de um DataFrame por outro valor

pivotExemplo5["Preço com Desconto"] = pivotExemplo5['Preço com Desconto'].fillna(0) 
pivotExemplo5["Preço Total"] = pivotExemplo5['Preço Total'].fillna(0) 
display(pivotExemplo5)

            Preço Total                                                        \
Cliente    Angela Maria                                  Carlos Moreira
Produto         Bolinho Café Coca Enroladinho Salgadinho        Bolinho  Bolo
Data Venda
2023-01-01          0.0  0.0  8.0         0.0        9.0            0.0   0.0
2023-01-02         12.0  0.0  0.0         0.0        9.0            0.0   0.0
2023-01-03         12.0  0.0  0.0         8.0        0.0           12.0   0.0
2023-01-04          0.0  8.0  0.0         0.0        0.0            0.0   0.0
2023-01-05          0.0  0.0  0.0         0.0        0.0            0.0  30.0
2023-01-06         12.0  0.0  0.0         0.0        0.0            0.0   0.0

                             ... Preço com Desconto                            \
Cliente                      ...     Carlos Moreira Gabriel Cardoso
Produto    Café Coca Pastel  ...         Salgadinho         Bolinho Café Coca
Data Venda                   ...
2023-01-01  0.0  0.0    0.0  ...                0.0            10.0  0.0  0.0
2023-01-02  4.0  0.0    0.0  ...                0.0             0.0  0.0  0.0
2023-01-03  4.0  0.0    0.0  ...                7.0             0.0  0.0  0.0
2023-01-04  0.0  0.0   10.0  ...                0.0             0.0  0.0  6.0
2023-01-05  0.0  8.0   10.0  ...                0.0             0.0  2.0  0.0
2023-01-06  0.0  0.0    0.0  ...                0.0             0.0  0.0  0.0


Cliente                      Paulo Santos
Produto    Pastel Salgadinho         Café Coca Pastel Salgadinho
Data Venda
2023-01-01    0.0        0.0          0.0  6.0    0.0        7.0
2023-01-02    0.0        7.0          2.0  0.0    0.0        0.0
2023-01-03    0.0        0.0          0.0  0.0    8.0        0.0
2023-01-04    8.0        7.0          0.0  0.0    0.0        0.0
2023-01-05    0.0        0.0          0.0  0.0    0.0        0.0
2023-01-06    0.0        0.0          0.0  6.0    0.0        0.0

[6 rows x 40 columns]